@{
    ViewData["Title"] = "Validação";
    var nome = ViewData["nome"];
}

<div class="text-center">
    <h1 class="display-4">O estabelecimento @nome foi deletado</h1>
   
</div>

<style>
    body{
       color: white; 
    }

    .asd{
        color:white;
    }
    
    .fot{
        margin-left: 10px;
    }

</style>